/**
 * Colors
 */

:root {
  --color-economist: #E60900;
  --color-beijing: #121212;
  --color-moscow: #7A7A7A;
  --color-london: #B6B6B6;
  --color-berlin: #F2F2F2;
  --color-thimphu: #FFFFFF;
  --color-honolulu: #16C9B3;
}

