/**
 * Colors
 */

/* stylelint-disable no-indistinguishable-colors */
/* to pass linting against --color-thimphu --color-berlin */

:root {
  --color-economist: #e3120b;
  --color-beijing: #121212;
  --color-kiev: #383e42;
  --color-moscow: #7a7a7a;
  --color-london: #b6b6b6;
  --color-berlin: #f2f2f2;
  --color-thimphu: #fff;
  --color-honolulu: #16c9b3;
  --color-dakar: #0d6380;
  --color-boston: #c5cbe9;
  --color-chicago: #3e51b5;
  --color-milan: #4c60eb;
  --color-copenhagen: #38a8e0;
  --color-budapest: #fc150d;
  --color-york: #fff600;
  --color-bristol: #08c5b2;
  --color-rome: #f39200;
  --color-genoa: #4e64b5;
  --color-manchester: #3ca8df;
}

/* stylelint-enable no-indistinguishable-colors */
